{% extends 'base.html.twig' %}

{% block title %}New Ca{% endblock %}

{% block body %}
    <h1>{{'Create new Ca' | trans}}</h1>

    {{ include('ca/_form.html.twig') }}

    <a href="{{ path('ca_index') }}">{{'back to list' | trans}}</a>
{% endblock %}
