{% extends 'base.html.twig' %}

{% block title %}New Factory{% endblock %}

{% block body %}
    <h1>{{'Create new Factory' | trans}}</h1>

    {{ include('factory/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('factory_index') }}">{{'back to list' | trans}}</a>
{% endblock %}
