{% extends 'base.html.twig' %}

{% block title %}New Addreason{% endblock %}

{% block body %}
    <h1>Create new Addreason</h1>

    {{ include('addreason/_form.html.twig') }}

    <a href="{{ path('addreason_index') }}">back to list</a>
{% endblock %}
