{% extends 'base.html.twig' %}

{% block title %}New Gca{% endblock %}

{% block body %}
    <h1>{{'Create new Gca' | trans}}</h1>

    {{ include('gca/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('gca_index') }}">{{'back to list' | trans}}</a>
{% endblock %}
