{% extends 'base.html.twig' %}

{% block title %}New Gd{% endblock %}

{% block body %}
    <h1>{{'Create new Gd' | trans}}</h1>

    {{ include('gd/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('gd_index') }}">{{'back to list' | trans}}</a>
{% endblock %}
