{% extends 'base.html.twig' %}

{% block title %}Edit Gb{% endblock %}

{% block body %}
    <h1>Edit Gb</h1>

    {{ include('gb/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('gb_index') }}">back to list</a>

    {{ include('gb/_delete_form.html.twig') }}
{% endblock %}
