{% extends 'base.html.twig' %}

{% block title %}New Gb{% endblock %}

{% block body %}
    <h1>{{'Create new Gb' | trans}}</h1>

    {{ include('gb/_form.html.twig') }}

    <a href="{{ path('gb_index') }}">{{'back to list' | trans}}</a>
{% endblock %}
