{% extends 'base.html.twig' %}

{% block title %}New Sgb{% endblock %}

{% block body %}
    <h1>{{'Create new Sgb' | trans}}</h1>

    {{ include('sgb/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('sgb_index') }}">{{'back to list' | trans}}</a>
{% endblock %}
