<form method="post" action="{{ path('ac_delete', {'id': ac.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ac.id) }}">
    <button class="btn">Delete</button>
</form>
