{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-info">{{ button_label|default('Save')  | trans}}</button>
    <button class="btn btn-info">计耗计工费</button>
    <button class="btn btn-info">无耗计工费</button>
{{ form_end(form) }}
