{% extends 'base.html.twig' %}

{% block title %}Ac index{% endblock %}

{% block body %}
    <h1>Ac index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ac in acs %}
            <tr>
                <td>{{ ac.id }}</td>
                <td>
                    <a href="{{ path('ac_show', {'id': ac.id}) }}">show</a>
                    <a href="{{ path('ac_edit', {'id': ac.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ac_new') }}">Create new</a>
{% endblock %}
