{% extends 'base.html.twig' %}

{% block title %}New Main{% endblock %}

{% block body %}
    <h1>{{'Create new Main' | trans}}</h1>

    {{ include('main/_form.html.twig') }}

    <a href="{{ path('main_index') }}">back to list</a>
{% endblock %}
