{% extends 'base.html.twig' %}

{% block title %}New Clerk{% endblock %}

{% block body %}
    <h1>{{'Create new Clerk' | trans}}</h1>

    {{ include('clerk/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('clerk_index') }}">{{'back to list' | trans}}</a>
{% endblock %}
