{% extends 'base.html.twig' %}

{% block title %}New Clerk{% endblock %}

{% block body %}
    <h1>Create new Clerk</h1>

    {{ include('clerk/_form.html.twig') }}

    <a href="{{ path('clerk_index') }}">back to list</a>
{% endblock %}
