{% extends 'base.html.twig' %}

{% block title %}New Stafftype{% endblock %}

{% block body %}
    <h1>Create new Stafftype</h1>

    {{ include('stafftype/_form.html.twig') }}

    <a href="{{ path('stafftype_index') }}">back to list</a>
{% endblock %}
