{% extends 'base.html.twig' %}

{% block title %}New Stafftype{% endblock %}

{% block body %}
    <h1>{{'Create new Stafftype' | trans}}</h1>

    {{ include('stafftype/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('stafftype_index') }}">{{'back to list' | trans}}</a>
{% endblock %}
