{% extends 'base.html.twig' %}

{% block title %}New Cgd{% endblock %}

{% block body %}
    <h1>{{'Create new Cgd' | trans}}</h1>

<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="customCheck1">
  <label class="custom-control-label" for="customCheck1">以主单方式</label>
</div>
    {{ include('cgd/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('cgd_index') }}">{{'back to list' | trans}}</a>
{% endblock %}
