{% extends 'base.html.twig' %}

{% block title %}New Cgd{% endblock %}

{% block body %}
    <h1>{{'Create new Cgd' | trans}}</h1>

    {{ include('cgd/_form.html.twig') }}

    <a href="{{ path('cgd_index') }}">{{'back to list' | trans}}</a>
{% endblock %}
