{% extends 'base.html.twig' %}

{% block title %}New Granule{% endblock %}

{% block body %}
    <h1>{{'Create new Granule' | trans}}</h1>

    {{ include('granule/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('granule_index') }}">{{'back to list' | trans}}</a>
{% endblock %}
