{% extends 'base.html.twig' %}

{% block title %}New Child{% endblock %}

{% block body %}
    <h1>{{'Create new Child' | trans}}</h1>

    {{ include('child/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('child_index') }}">{{'back to list' | trans}}</a>
{% endblock %}
