{% extends 'base.html.twig' %}

{% block title %}New Division{% endblock %}

{% block body %}
    <h1>{{'Create new Division' | trans}}</h1>

    {{ include('division/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('division_index') }}">{{'back to list' | trans}}</a>
{% endblock %}
