{% extends 'base.html.twig' %}

{% block title %}New Attach{% endblock %}

{% block body %}
    <h1>{{'Create new Attach' | trans}}</h1>

    {{ include('attach/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('attach_index') }}">{{'back to list' | trans}}</a>
{% endblock %}
