{% extends 'base.html.twig' %}

{% block title %}New Embed{% endblock %}

{% block body %}
    <h1>{{'Create new Embed' | trans}}</h1>

    {{ include('embed/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('embed_index') }}">{{'back to list' | trans}}</a>
{% endblock %}
