{% extends 'base.html.twig' %}

{% block title %}Edit Subtractreason{% endblock %}

{% block body %}
    <h1>Edit Subtractreason</h1>

    {{ include('subtractreason/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('subtractreason_index') }}">back to list</a>

    {{ include('subtractreason/_delete_form.html.twig') }}
{% endblock %}
