{% extends 'base.html.twig' %}

{% block title %}New Subtractreason{% endblock %}

{% block body %}
    <h1>Create new Subtractreason</h1>

    {{ include('subtractreason/_form.html.twig') }}

    <a href="{{ path('subtractreason_index') }}">back to list</a>
{% endblock %}
