{% extends 'base.html.twig' %}

{% block title %}New Gbs{% endblock %}

{% block body %}
    <h1>Create new Gbs</h1>

    {{ include('gbs/_form.html.twig') }}

    <a href="{{ path('gbs_index') }}">back to list</a>
{% endblock %}
