{% extends 'base.html.twig' %}

{% block title %}New Wage{% endblock %}

{% block body %}
    <h1>{{'Create new Wage' | trans}}</h1>

    {{ include('wage/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('wage_index') }}">{{'back to list' | trans}}</a>
{% endblock %}
