{% extends 'base.html.twig' %}

{% block title %}New Gac{% endblock %}

{% block body %}
    <h1>{{'Create new Gac' | trans}}</h1>

    {{ include('gac/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('gac_index') }}">{{'back to list' | trans}}</a>
{% endblock %}
