{% extends 'base.html.twig' %}

{% block title %}New Doctype{% endblock %}

{% block body %}
    <h1>{{'Create new Doctype' | trans}}</h1>

    {{ include('doctype/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('doctype_index') }}">{{'back to list' | trans}}</a>
{% endblock %}
