{% extends 'base.html.twig' %}

{% block title %}New Lossrate{% endblock %}

{% block body %}
    <h1>Create new Lossrate</h1>

    {{ include('lossrate/_form.html.twig') }}

    <a href="{{ path('lossrate_index') }}">back to list</a>
{% endblock %}
