{% extends 'base.html.twig' %}

{% block title %}Edit Subtracttype{% endblock %}

{% block body %}
    <h1>Edit Subtracttype</h1>

    {{ include('subtracttype/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('subtracttype_index') }}">back to list</a>

    {{ include('subtracttype/_delete_form.html.twig') }}
{% endblock %}
