{% extends 'base.html.twig' %}

{% block title %}New Subtracttype{% endblock %}

{% block body %}
    <h1>Create new Subtracttype</h1>

    {{ include('subtracttype/_form.html.twig') }}

    <a href="{{ path('subtracttype_index') }}">back to list</a>
{% endblock %}
