<form method="post" action="{{ path('goldclass_delete', {'id': goldclass.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ goldclass.id) }}">
    <button class="btn">Delete</button>
</form>
