{% extends 'base.html.twig' %}

{% block title %}New Goldclass{% endblock %}

{% block body %}
    <h1>{{'Create new Goldclass' | trans}}</h1>

    {{ include('goldclass/_form.html.twig') }}

    <a href="{{ path('goldclass_index') }}">{{'back to list' | trans}}</a>
{% endblock %}
