{% extends 'base.html.twig' %}

{% block title %}New Cc{% endblock %}

{% block body %}
    <h1>{{'Create new Cc' | trans}}</h1>

    {{ include('cc/_form.html.twig') }}

    <a href="{{ path('cc_index') }}">{{'back to list' | trans}}</a>
{% endblock %}
