{% extends 'base.html.twig' %}

{% block title %}交收明细{% endblock %}

{% block content %}
            <div class="container-fluid">
            <form>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="单号">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="重量">
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <input type="text" class="form-control" placeholder="工艺">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="订单生成日期">
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <input type="text" class="form-control" placeholder="工艺">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="订单交货日期">
              </div>
            </div>
            <button class="mt-4 btn btn-primary">提交</button>
            </form>
            </div>
{% endblock %}

{% block javascript %}
<script src="/plugins/tables/js/jquery.dataTables.min.js"></script>
<script src="/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
<script src="/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>
{% endblock %}
