{% extends 'base.html.twig' %}

{% block title %}交收明细{% endblock %}

{% block body %}
            <div class="container-fluid">
            <form>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="单号">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="工匠姓名">
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-3">
                <input type="text" class="form-control" placeholder="工艺">
              </div>
              <div class="col-3">
                <input type="text" class="form-control" placeholder="金重">
              </div>
              <div class="col-3">
                <input type="text" class="form-control" placeholder="附件重量">
              </div>
              <div class="col-3">
                <input type="text" class="form-control" placeholder="总重">
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <input type="text" class="form-control" placeholder="订单生成日期">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="订单交货日期">
              </div>
            </div>
            <button class="mt-4 btn btn-primary">提交</button>
            </form>
<form class="mt-5">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="单号">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="工匠姓名">
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-3">
                <input type="text" class="form-control" placeholder="工艺">
              </div>
              <div class="col-3">
                <input type="text" class="form-control" placeholder="金重">
              </div>
              <div class="col-3">
                <input type="text" class="form-control" placeholder="附件重量">
              </div>
              <div class="col-3">
                <input type="text" class="form-control" placeholder="总重">
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-3">
              </div>
              <div class="col-3">
              </div>
              <div class="col-3">
                <input type="text" class="form-control" placeholder="附件重量">
              </div>
              <div class="col-3">
                <input type="text" class="form-control" placeholder="总重">
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <input type="text" class="form-control" placeholder="订单生成日期">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="订单交货日期">
              </div>
            </div>
            <div class="row mt-4">
            <button class="col m-1 btn btn-info form-control" placeholder="">计耗计工费</button>
            <button class="col m-1 btn btn-danger form-control" placeholder="">无耗计工费</button>
            <button class="col m-1 btn btn-primary">提交</button>
            </div>
            </form>
            </div>
{% endblock %}

{% block javascript %}
<script src="/plugins/tables/js/jquery.dataTables.min.js"></script>
<script src="/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
<script src="/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>
{% endblock %}
