{% extends 'base.html.twig' %}

{% block title %}New Seq{% endblock %}

{% block body %}
    <h1>{{'Create new Seq' | trans}}</h1>

    {{ include('seq/_form.html.twig') }}

    <a href="{{ path('seq_index') }}">{{'back to list' | trans}}</a>
{% endblock %}
