{% extends 'base.html.twig' %}

{% block title %}导入中央单{% endblock %}

{% block body %}
    <h1>{{'Center import' | trans}}</h1>
    <div class="input-group mb-3">
    <input type="file" class="form-control" id="inputGroupFile02">
    <label class="input-group-text" for="inputGroupFile02">导入</label>
    </div>

    <button class="btn btn-primary" type="submit">提交</button>


{% endblock %}
