{% extends 'base.html.twig' %}

{% block title %}New Center{% endblock %}

{% block body %}
    <h1>{{'Create new Center' | trans}}</h1>

    {{ include('center/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('center_index') }}">{{'back to list' | trans}}</a>
{% endblock %}
