<form class="delete" method="post" action="{{ path('prodtype_delete', {'id': prodtype.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prodtype.id) }}">
    <button class="btn btn-danger">{{'Delete' | trans}}</button>
</form>
