{% extends 'base.html.twig' %}

{% block title %}New Prodtype{% endblock %}

{% block body %}
    <h1>{{'Create new Prodtype' | trans}}</h1>

    {{ include('prodtype/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('prodtype_index') }}">{{'back to list' | trans}}</a>
{% endblock %}
