{% extends 'base.html.twig' %}

{% block title %}统计汇总{% endblock %}

{% block body %}
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-1">
                            <div class="card-body">
                                <h3 class="card-title text-white">出货件数</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">4565</h2>
                                    <p class="text-white mb-0">1月 - 4月 2021</p>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-shopping-cart"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-2">
                            <div class="card-body">
                                <h3 class="card-title text-white">出货金额</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">￥ 8541</h2>
                                    <p class="text-white mb-0">1月 - 4月 2021</p>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-money"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-3">
                            <div class="card-body">
                                <h3 class="card-title text-white">工人工费</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">￥ 4565</h2>
                                    <p class="text-white mb-0">1月 - 4月 2021</p>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-4">
                            <div class="card-body">
                                <h3 class="card-title text-white">损耗率</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">0.9%</h2>
                                    <p class="text-white mb-0">1月 - 4月 2021</p>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-heart"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body pb-0 d-flex justify-content-between">
                                        <div>
                                            <h4 class="mb-1">出货数量</h4>
                                            <p>同比出货量</p>
                                            <h3 class="m-0">$ 12,555</h3>
                                        </div>
                                        <div>
                                            <ul>
                                                <li class="d-inline-block mr-3"><a class="text-dark" href="#">日</a></li>
                                                <li class="d-inline-block mr-3"><a class="text-dark" href="#">周</a></li>
                                                <li class="d-inline-block"><a class="text-dark" href="#">月</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="chart-wrapper">
                                        <canvas id="chart_widget_2"></canvas>
                                    </div>
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div class="w-100 mr-2">
                                                <h6>出货件数</h6>
                                                <div class="progress" style="height: 6px">
                                                    <div class="progress-bar bg-danger" style="width: 40%"></div>
                                                </div>
                                            </div>
                                            <div class="ml-2 w-100">
                                                <h6>出货金额</h6>
                                                <div class="progress" style="height: 6px">
                                                    <div class="progress-bar bg-primary" style="width: 80%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                

                <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">出货统计</h4>
                                    <div id="morris-bar-chart"></div>
                                </div>
                            </div>
                            
                        </div>    
                    <div class="col-xl-3 col-lg-6 col-sm-6 col-xxl-6">
                        <div class="card">
                            <div class="chart-wrapper mb-4">
                                <div class="px-4 pt-4 d-flex justify-content-between">
                                    <div>
                                        <h4>损耗情况</h4>
                                        <p>最近6个月</p>
                                    </div>
                                    <div>
                                        <span><i class="fa fa-caret-up text-success"></i></span>
                                        <h4 class="d-inline-block text-success">1.05%</h4>
                                        <p class=" text-danger">+120.5(5.0%)</p>
                                    </div>
                                </div>
                                <div>
                                        <canvas id="chart_widget_3"></canvas>
                                </div>
                            </div>
                            <div class="card-body border-top pt-4">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <ul>
                                            <li>5% 损耗</li>
                                            <li>95% 损耗</li>
                                        </ul>
                                        <div>
                                            <h5>损耗率</h5>
                                            <h3>385749</h3>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div id="chart_widget_3_1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="card card-widget">
                                <div class="card-body">
                                    <h5 class="text-muted">生产情况</h5>
                                    <h2 class="mt-4">5680</h2>
                                    <span>总件数</span>
                                    <div class="mt-4">
                                        <h4>30</h4>
                                        <h6>中央单<span class="pull-right">30%</span></h6>
                                        <div class="progress mb-3" style="height: 7px">
                                            <div class="progress-bar bg-primary" style="width: 30%;" role="progressbar"><span class="sr-only">30% Order</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-4">
                                        <h4>50</h4>
                                        <h6 class="m-t-10 text-muted">自发单<span class="pull-right">50%</span></h6>
                                        <div class="progress mb-3" style="height: 7px">
                                            <div class="progress-bar bg-success" style="width: 50%;" role="progressbar"><span class="sr-only">50% Order</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-4">
                                        <h4>20</h4>
                                        <h6 class="m-t-10 text-muted">工厂单<span class="pull-right">20%</span></h6>
                                        <div class="progress mb-3" style="height: 7px">
                                            <div class="progress-bar bg-warning" style="width: 20%;" role="progressbar"><span class="sr-only">20% Order</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="row">
                    <div class="col-lg-9">
                        <div class="card">
                            <div class="card-body">
                                <div class="active-member">
                                    <div class="table-responsive">
                                        <table class="table table-xs mb-0">
                                            <thead>
                                                <tr>
                                                    <th>工匠</th>
                                                    <th>件数</th>
                                                    <th>损耗率</th>
                                                    <th>进度</th>
                                                    <th>组别</th>
                                                    <th>工费</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><img src="/images/avatar/1.jpg" class=" rounded-circle mr-3" alt="">李偏</td>
                                                    <td>50</td>
                                                    <td>
                                                        <span>0.92%</span>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <div class="progress" style="height: 6px">
                                                                <div class="progress-bar bg-success" style="width: 50%"></div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td><i class="fa fa-circle-o text-success  mr-2"></i> 执磨</td>
                                                    <td>
                                                        <span>5000</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><img src="/images/avatar/2.jpg" class=" rounded-circle mr-3" alt="">徐群</td>
                                                    <td>80</td>
                                                    <td><span>0.98%</span></td>
                                                    <td>
                                                        <div>
                                                            <div class="progress" style="height: 6px">
                                                                <div class="progress-bar bg-success" style="width: 50%"></div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td><i class="fa fa-circle-o text-success  mr-2"></i>执磨</td>
                                                    <td>
                                                        <span>4680</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><img src="/images/avatar/3.jpg" class=" rounded-circle mr-3" alt="">王约翰</td>
                                                    <td>30</td>
                                                    <td><span>1.01%</span></td>
                                                    <td>
                                                        <div>
                                                            <div class="progress" style="height: 6px">
                                                                <div class="progress-bar bg-warning" style="width: 50%"></div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td><i class="fa fa-circle-o text-warning  mr-2"></i> 执磨</td>
                                                    <td>
                                                        <span>4380</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><img src="/images/avatar/6.jpg" class=" rounded-circle mr-3" alt=""> 毛玲丽</td>
                                                    <td>40</td>
                                                    <td><span>0.91</span></td>
                                                    <td>
                                                        <div>
                                                            <div class="progress" style="height: 6px">
                                                                <div class="progress-bar bg-success" style="width: 50%"></div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td><i class="fa fa-circle-o text-success  mr-2"></i> 执磨</td>
                                                    <td>
                                                        <span>4188</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><img src="/images/avatar/4.jpg" class=" rounded-circle mr-3" alt="">张小喵</td>
                                                    <td>50</td>
                                                    <td><span>1.11%</span></td>
                                                    <td>
                                                        <div>
                                                            <div class="progress" style="height: 6px">
                                                                <div class="progress-bar bg-success" style="width: 50%"></div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td><i class="fa fa-circle-o text-success  mr-2"></i> 执磨</td>
                                                    <td>
                                                        <span>4088</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><img src="/images/avatar/5.jpg" class=" rounded-circle mr-3" alt="">陈皮特</td>
                                                    <td>45</td>
                                                    <td><span>1.09%</span></td>
                                                    <td>
                                                        <div>
                                                            <div class="progress" style="height: 6px">
                                                                <div class="progress-bar bg-warning" style="width: 50%"></div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td><i class="fa fa-circle-o text-warning  mr-2"></i> 执磨</td>
                                                    <td>
                                                        <span>3988</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <div class="col-xl-3 col-lg-6 col-sm-6 col-xxl-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">动态</h4>
                                <div id="activity">
                                    <div class="media border-bottom-1 pt-3 pb-3">
                                        <img width="35" src="/images/avatar/1.jpg" class="mr-3 rounded-circle">
                                        <div class="media-body">
                                            <h5>交收完成</h5>
                                            <p class="mb-0">动态详情文字1</p>
                                        </div><span class="text-muted ">4月22日, 2021</span>
                                    </div>
                                    <div class="media border-bottom-1 pt-3 pb-3">
                                        <img width="35" src="/images/avatar/2.jpg" class="mr-3 rounded-circle">
                                        <div class="media-body">
                                            <h5>发单完成</h5>
                                            <p class="mb-0">动态详情文字1</p>
                                        </div><span class="text-muted ">4月22日, 2021</span>
                                    </div>
                                    <div class="media border-bottom-1 pt-3 pb-3">
                                        <img width="35" src="/images/avatar/2.jpg" class="mr-3 rounded-circle">
                                        <div class="media-body">
                                            <h5>提交审核</h5>
                                            <p class="mb-0">动态详情文字1</p>
                                        </div><span class="text-muted ">4月22日, 2021</span>
                                    </div>
                                    <div class="media border-bottom-1 pt-3 pb-3">
                                        <img width="35" src="/images/avatar/2.jpg" class="mr-3 rounded-circle">
                                        <div class="media-body">
                                            <h5>提交审核</h5>
                                            <p class="mb-0">动态详情文字1</p>
                                        </div><span class="text-muted ">4月22日, 2021</span>
                                    </div>
                                    <div class="media border-bottom-1 pt-3 pb-3">
                                        <img width="35" src="/images/avatar/2.jpg" class="mr-3 rounded-circle">
                                        <div class="media-body">
                                            <h5>提交审核</h5>
                                            <p class="mb-0">动态详情文字1</p>
                                        </div><span class="text-muted ">4月22日, 2021</span>
                                    </div>
                                    <div class="media border-bottom-1 pt-3 pb-3">
                                        <img width="35" src="/images/avatar/2.jpg" class="mr-3 rounded-circle">
                                        <div class="media-body">
                                            <h5>提交审核</h5>
                                            <p class="mb-0">动态详情文字1</p>
                                        </div><span class="text-muted ">4月22日, 2021</span>
                                    </div>
                                    <div class="media pt-3 pb-3">
                                        <img width="35" src="/images/avatar/3.jpg" class="mr-3 rounded-circle">
                                        <div class="media-body">
                                            <h5>提交审核</h5>
                                            <p class="mb-0">动态详情文字1</p>
                                        </div><span class="text-muted ">4月22日, 2021</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row d-none">
                    <div class="col-xl-6 col-lg-12 col-sm-12 col-xxl-12">
                        <div class="card">
                            <div class="card-body">
                                    <h4 class="card-title mb-0">Store Location</h4>
                                <div id="world-map" style="height: 470px;"></div>
                            </div>        
                        </div>
                    </div>
                </div>
{% endblock %}
