{% extends 'base.html.twig' %}

{% block title %}New Own{% endblock %}

{% block body %}
    <h1>{{'Create new Own' | trans}}</h1>

    {{ include('own/_form.html.twig') }}

    <a href="{{ path('own_index') }}">{{'back to list' | trans}}</a>
{% endblock %}
