{% extends 'base.html.twig' %}

{% block title %}交收明细{% endblock %}

{% block content %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                            <div class="row mb-2">
                                <h4 class="card-title col">交收明细</h4>
                                <div class="input-group icons col-2">
                                <div class="input-group-prepend">
                                <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                                </div>
                                <input type="search" class="form-control" placeholder="搜索" aria-label="Search Dashboard">
                                <div class="drop-down   d-md-none">
                                <form action="#">
                                <input type="text" class="form-control" placeholder="Search">
                                </form>
                                </div>
                                </div>

                                <div class="btn-group m-b-20 col-auto">
                                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">部门<span class="caret m-l-5"></span>
                                </button>
                                <div class="dropdown-menu"><span class="dropdown-header">More Option :</span>
                                <a class="dropdown-item" href="javascript: void(0);">执磨1</a>
                                <a class="dropdown-item" href="javascript: void(0);">执磨2</a>
                                <a class="dropdown-item" href="javascript: void(0);">执磨3</a>
                                <a class="dropdown-item" href="javascript: void(0);">执磨4</a>
                                </div>
                                </div>
                                <div class="btn-group m-b-20 col-auto">
                                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">工艺<span class="caret m-l-5"></span>
                                </button>
                                <div class="dropdown-menu"><span class="dropdown-header">More Option :</span>
                                <a class="dropdown-item" href="javascript: void(0);">执磨1</a>
                                <a class="dropdown-item" href="javascript: void(0);">执磨2</a>
                                <a class="dropdown-item" href="javascript: void(0);">执磨3</a>
                                <a class="dropdown-item" href="javascript: void(0);">执磨4</a>
                                </div>
                                </div>
                                <div class="btn-group m-b-20 col-auto">
                                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">组别<span class="caret m-l-5"></span>
                                </button>
                                <div class="dropdown-menu"><span class="dropdown-header">More Option :</span>
                                <a class="dropdown-item" href="javascript: void(0);">执磨1</a>
                                <a class="dropdown-item" href="javascript: void(0);">执磨2</a>
                                <a class="dropdown-item" href="javascript: void(0);">执磨3</a>
                                <a class="dropdown-item" href="javascript: void(0);">执磨4</a>
                                </div>
                                </div>
                            </div>
                                <div>
                                    <table class="table table-responsive table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th>部门</th>
                                                <th>工艺</th>
                                                <th>组别</th>
                                                <th>工匠</th>
                                                <th>金类</th>
                                                <th>位置</th>
                                                <th>交金时间</th>
                                                <th>批号</th>
                                                <th>操作公司</th>
                                                <th>所属公司</th>
                                                <th>单号</th>
                                                <th>上级单号</th>
                                                <th>项目单</th>
                                                <th>自单</th>
                                                <th>说明</th>
                                                <th>货类</th>
                                                <th>专线</th>
                                                <th>中央单号</th>
                                                <th>处理次序</th>
                                                <th>产品类型</th>
                                                <th>工序</th>
                                                <th>操作类型</th>
                                                <th>件数</th>
                                                <th>耗率</th>
                                                <th>今重</th>
                                                <th>总重</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in range(0,10) %}
                                            <tr>
                                                <td>执磨</td>
                                                <td>执磨</td>
                                                <td>执磨</td>
                                                <td>李偏</td>
                                                <td>18k</td>
                                                <td>0</td>
                                                <td>4/20/2021</td>
                                                <td>1234</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>0.92%</td>
                                                <td>10</td>
                                                <td>15</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}

{% block javascript %}
<script src="/plugins/tables/js/jquery.dataTables.min.js"></script>
<script src="/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
<script src="/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>
{% endblock %}
