{% extends 'base.html.twig' %}

{% block title %}New Process{% endblock %}

{% block body %}
    <h1>{{'Create new Process' | trans}}</h1>

    {{ include('process/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('process_index') }}">{{'back to list' | trans}}</a>
{% endblock %}
