{% extends 'base.html.twig' %}

{% block title %}New Jewelry{% endblock %}

{% block body %}
    <h1>{{'Create new Jewelry' | trans}}</h1>

    {{ include('jewelry/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('jewelry_index') }}">{{'back to list' | trans}}</a>
{% endblock %}
