{% extends 'base.html.twig' %}

{% block title %}New Artisan{% endblock %}

{% block body %}
    <h1>{{'Create new Artisan' | trans}}</h1>

    {{ include('artisan/_form.html.twig') }}

    <a href="{{ path('artisan_index') }}">{{'back to list' | trans}}</a>
{% endblock %}
