<form method="post" action="{{ path('cotype_delete', {'id': cotype.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cotype.id) }}">
    <button class="btn">Delete</button>
</form>
