{% extends 'base.html.twig' %}

{% block title %}New Cotype{% endblock %}

{% block body %}
    <h1>{{'Create new Cotype' | trans}}</h1>

    {{ include('cotype/_form.html.twig') }}

    <a href="{{ path('cotype_index') }}">{{'back to list' | trans}}</a>
{% endblock %}
