{% extends 'base.html.twig' %}

{% block title %}New Craft{% endblock %}

{% block body %}
    <h1>Create new Craft</h1>

    {{ include('craft/_form.html.twig') }}

    <a href="{{ path('craft_index') }}">back to list</a>
{% endblock %}
